# Byte-compiled / optimized / DLL files
__pycache__/

dao/__pycache__
controllers/__pycache__
Model/__pycache__


*.pyc
.env
venv/
.venv/
flask_session/
Model/config.py


teste
test.html

pixqrcodegen.png



__pypackages__/
