body {
 
  background-color: #f4f4f4;
}



.form-right, .form-left {
  width: 48%; /* Ajuste conforme necessário */
  border: 3px solid black; /* Adiciona uma borda cinza de 1px */
  padding: 20px; /* Adiciona um preenchimento interno de 20px */
  box-sizing: border-box; /* Garante que a largura da borda esteja incluída na largura total */
}
Com es
/* Estilos adicionais conforme necessário */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23707070"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
}

select::-ms-expand {
  display: none;
}

.ingrediente,.tamanho {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

input[type="checkbox"] {
  width: 50px;
  height: 20px;
  margin-right: 0px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #F5C518;
  color: #F5C518;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(255, 196, 0);
}




@media screen and (max-width: 768px) {
  .page-title{
    width: 100px;
   font-size: 20px;
   text-align: center;
  }
  .form-container {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .form-left,
  .form-right {
    width: 100%; /* Define a largura para 100% */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os formulários */
  }
  input[type="checkbox"] {
    width: 40px;
    height: 20px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 964px) {
  .page-title{
    width: 300px;
    font-size: 20px;
    text-align: center;
   }
  .form-container {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .form-left,
  .form-right {
    width: 100%; /* Define a largura para 100% */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os formulários */
  }
  input[type="checkbox"] {
    width: 40px;
    height: 20px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .page-title{
    width: 300%;
    font-size: 20px;
    text-align: center;
   }
  .form-container {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .form-left,
  .form-right {
    width: 100%; /* Define a largura para 100% */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os formulários */
  }
  input[type="checkbox"] {
    width: 40px;
    height: 20px;
    margin-right: 0px;
  }
}
