body {
 
  background-color: #f4f4f4;
}




/* Estilos adicionais conforme necessário */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23707070"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
}

select::-ms-expand {
  display: none;
}

.ingrediente,.tamanho {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

input[type="checkbox"] {
  width: 50px;
  height: 20px;
  margin-right: 0px;
  text-align: left;
  
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #F5C518;
  color: #F5C518;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(255, 196, 0);
}

#porcao {
  text-align: left; /* Alinha o texto à esquerda dentro da div */
  /* Se quiser ajustar o alinhamento dos checkboxes e labels também, você pode usar: */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#porcao input[type="checkbox"] {
  margin-right: 5px; /* Ajuste a margem para o lado direito do checkbox */
}