
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <footer class="rodape" id="contato">
        <div class="rodape-div">
    
          <div class="rodape-div-1">
              <div class="rodape-div-1-coluna elementoFooter">
                  <!-- elemento -->
                  <span><h3 class="title-footer">Endereço</h3></span>
                  <p>Rua: Avenida das Americas </p>
                  <p>Bairro: Barra da Tijuda-RJ</p>
              </div>
          </div>
    
          <div class="rodape-div-2">
              <div class="rodape-div-2-coluna">
                  <!-- elemento -->
                 <div class="elementoFooter">
                  <span><h3 class="title-footer" >Horario de Funcionamento </h3></span>               
                    <p>Segunda-Feira: Fechado. </p>
                    <p>Terça-Feira: Fechado. </p>
                    <p>Terça-Feira: 19hr as 00hr. </p>
                    <p>Quarta-Feira: 19hr as 00hr. </p>
                    <p>Quinta-Feira: 18hr as 00hr. </p>
                    <p>Sexta-Feira: 19hr as 01hr. </p>
                    <p>Sabado: 18hr as 01:30hr. </p>
                    <p>Domingo: 18hr as 00hr. </p>
                 </div>
              </div>
          </div>
    
          <div class="rodape-div-3">
              <div class="rodape-div-3-coluna">
                  <!-- elemento -->
                  <span><h3 class="title-footer" >Formas de Pagamento</h3></span>
                  <div class="elementoFooter">              
                    <p>Credito</p>
                    <p>Debito</p>
                    <p>Dinheiro/PIX</p>
                    <p>VR Refeição</p>
                    <p>Alelo Refeição</p>
                  </div>
                  
              </div>
          </div>
               
          
          <div class="rodape-div-4">
            <div class="rodape-div-4-coluna">
                <!-- elemento -->
                <div class="elementoFooter">
                    <span>
                        <h3 class="title-footer">Desenvolvedor</h3>
                    </span>
                    <div class="social-midia">
                    </div>
    
                    <p class="contact-text">
                        <i id="email" class="fa fa-envelope" style="margin-right: 5px;"></i>Email:
                        lukas.silvalsm@hotmail.com
                    </p>
                    <p class="contact-text">
                        <i class='bx bxl-github' style="margin-right: 5px;"></i>Github: <a
                            href="https://github.com/LucaSilvalsm">LucaSilvalsm</a>
                    </p>
                    <p class="contact-text">
                        <i class='bx bxl-linkedin-square' style="margin-right: 5px;"></i>Linkedin: <a
                            href="https://www.linkedin.com/in/lucas-da-silva-moreira/">Lucas Da Silva
                            Moreira</a>
                    </p>
                </div>
            </div>
        </div>
    
      </div>
      <p class="rodape-direitos">Copyright © 2023 – Todos os Direitos Reservados.</p>
   
</footer>
</body>

</html>