</head>
<body>
    <header>
        <div style="align-items: center;" class="info-header">
            <div class="logo">
                <h3>Aprendendo</h3>
            </div>
            <div class="icon-header">
                <i class='bx bxs-offer'></i>
            </div>
        </div>
        <div style="align-items: center;" class="info-header">
            <a href="#"> <i class='fa-solid fa-bell'></i></a>
            <a href="#"> <i class='bx bxs-notepad'></i>
            </a> <img src="/static/img/logo.png" alt="logo" id="logo">
        </div>
    </header> <!-- Fim do header -->
    <section class="main">
        <div class="sidebar">
            <h3> HOME</h3>
            <a class="sidebar-active" href="/painel" > <i class='bx bxs-report'></i> Relatorio de Venda</a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio de Pedidos</a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio de Veda</a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio </a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio </a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio </a>
            <br/>
            <hr>

            <h3> PRODUTOS</h3>
            <a href="/produto"><i class='bx bxs-report'></i> Adicionar Produto</a>
            <a href="#"><i class='bx bxs-report'></i> Atualizar Produto</a>
            <a href="/all_produtos"><i class='bx bxs-report'></i> Remover Produto</a>
            <a href="#"><i class='bx bxs-badge-dollar'></i> Adicionar Promoção</a>           
            <br/>
            <hr>

            <h3> Pedidos</h3>
            <a href=""><i class='bx bxs-report'></i> Acompanhar Pedidos</a>
            <a href="#"><i class='bx bxs-report'></i> Atualizar os Pedidos</a>
            <a href="#"><i class='bx bxs-report'></i> Ver todos os Pedidos</a>
                 
            <br/>
            <hr>

            <h3> HOME</h3>
            <a href="#"><i class='bx bxs-report'></i >Relatorio de Venda</a>
            <a href="#"><i class='bx bxs-report'></i> Relatorio de Pedidos</a>
            <a href="/"><i class='bx bxs-report'></i> Home Site da Loja</a>

           
            <a href="{{ url_for('admin_bp.login') }}"><i class='bx bxs-report'></i> Sair</a>
            <br/>
            <hr>
        </div> <!--FIM Sidebar-->