{% extends "base.html" %}

{% block title %}Detalhe do Produto{% endblock %}

{% block content %}
{% set messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="msg-container">
            {% for category, message in messages %}
            <div class="msg {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
<div id="main-container" class="container-fluidProdutos">
  <div class="card produto-card-produtos">
    <div class="card-img-top-produtos" style="background-image: url('{{ url_for('static', filename='img/produtos/' + produto.imagem) }}')"></div>
    <div class="card-body d-flex flex-column justify-content-between">
      <h5 class="card-title">{{ produto.nome_produto }}</h5>
      <p class="card-text">Descrição: {{ produto.descricao }}</p>
      <p class="card-text">Ingredientes: {{ produto.ingrediente }}</p>
      <p class="card-text">Preço R$ {{ produto.preco }}</p>
      
      <!-- Formulário para adicionar ao carrinho -->
      <form class="addToCartForm" action="{{ url_for('carrinho_bp.criando') }}" method="POST" id="carrinhoForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="produto_id" value="{{ produto.id }}">
        <input type="hidden" name="quantidade" id="quantity_hidden" value="0">
        <input type="hidden" name="preco_total" id="preco_total_hidden" value="0">
        
        <h5 class="card-title"> Produto </h5>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Preço Unitário</th>
              <th>Quantidade</th>
              <th>Preço Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ produto.nome_produto }}</td>
              <td>R$ {{ produto.preco }}</td>
              <td>
                <div class="quantity">
                  <button type="button" onclick="decrement('{{ produto.nome_produto }}')">-</button>
                  <span id="quantity_{{ produto.nome_produto }}">0</span>
                  <input type="hidden" id="value_{{ produto.nome_produto }}" value="{{ produto.preco }}">
                  <button type="button" onclick="increment('{{ produto.nome_produto }}')">+</button>
                </div>
              </td>
              <td id="totalPrice_{{ produto.nome_produto }}">R$ 0.00</td>
            </tr>
          </tbody>
        </table>
        
        <label for="observacao">Observação:</label>
        <textarea id="observacao" name="observacao" rows="5" class="form-control"  placeholder="Faça uma Observação do seu pedido"></textarea>
        
        <button type="submit" id="addToCartButton" class="card-btn">Adicionar ao Carrinho Por: R$ 0.00</button>
      </form>
    </div>
  </div>
</div>

<script>
  function increment(productName) {
    var quantityElement = document.getElementById("quantity_" + productName);
    var quantityInput = document.getElementById("quantity_hidden");
    var currentValue = parseInt(quantityElement.innerText);
    quantityElement.innerText = currentValue + 1;
    quantityInput.value = currentValue + 1;
    updateTotalPrice(productName);
  }

  function decrement(productName) {
    var quantityElement = document.getElementById("quantity_" + productName);
    var quantityInput = document.getElementById("quantity_hidden");
    var currentValue = parseInt(quantityElement.innerText);
    if (currentValue > 0) {
      quantityElement.innerText = currentValue - 1;
      quantityInput.value = currentValue - 1;
      updateTotalPrice(productName);
    }
  }

  function updateTotalPrice(productName) {
    var precoUnitario = parseFloat(document.getElementById('value_' + productName).value);
    var quantidade = parseInt(document.getElementById('quantity_' + productName).innerText);
    var total = precoUnitario * quantidade;
    document.getElementById('totalPrice_' + productName).innerText = 'R$ ' + total.toFixed(2);

    // Atualiza o valor total no botão "Adicionar ao Carrinho"
    var addToCartButton = document.getElementById('addToCartButton');
    if (addToCartButton) {
      var buttonText = `Adicionar ao Carrinho Por: R$ ${total.toFixed(2)}`;
      addToCartButton.textContent = buttonText;
    }

    // Atualiza o valor de totalPriceInput quando totalPriceDisplay é alterado
    var totalPriceInput = document.getElementById('preco_total_hidden');
    totalPriceInput.value = total.toFixed(2);
  }

  function calculateTotal() {
    var totalPrice = 0;
    document.querySelectorAll('[id^="totalPrice_"]').forEach(function(element) {
      totalPrice += parseFloat(element.innerText.replace('R$ ', ''));
    });

    // Atualiza o valor total no botão "Adicionar ao Carrinho"
    var addToCartButton = document.getElementById('addToCartButton');
    if (addToCartButton) {
      var buttonText = `Adicionar ao Carrinho Por: R$ ${totalPrice.toFixed(2)}`;
      addToCartButton.textContent = buttonText;
    }

    // Atualiza o valor de totalPriceInput quando totalPriceDisplay é alterado
    var totalPriceInput = document.getElementById('preco_total_hidden');
    totalPriceInput.value = totalPrice.toFixed(2);
  }
</script>
{% endblock %}
