{% extends "base.html" %}

{% block title %}Detalhe do Produto{% endblock %}

{% block content %}
<div id="main-container" class="container-fluidProdutos">
  <div class="card produto-card-produtos">
    <div class="card-img-top-produtos" style="background-image: url('{{ url_for('static', filename='img/produtos/' + produto.imagem) }}')"></div>
    <div class="card-body d-flex flex-column justify-content-between">
      <h5 class="card-title">{{ produto.nome_produto }}</h5>
      <p class="card-text">Descrição: {{ produto.descricao }}</p>
      <p class="card-text">Ingredientes: {{ produto.ingrediente }}</p>
      <p class="card-text">Preço R$ {{ produto.preco }}</p>
      
      <!-- Formulário para adicionar ao carrinho -->
      <form class="addToCartForm" action="{{ url_for('carrinho_bp.criando') }}" method="POST" id="carrinhoForm">
        {% if current_user.is_authenticated %}
        <input type="hidden" name="produto_id" value="{{ produto.id }}">
        <input type="hidden" name="quantidade" id="quantity_hidden" value="0">
        <input type="hidden" name="preco_total" id="preco_total_hidden" value="0">
        <h5 class="card-title"> Produto </h5>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Preço Unitário</th>
              <th>Quantidade</th>
              <th>Preço Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ produto.nome_produto }}</td>
              <td>R$ {{ produto.preco }}</td>
              <td>
                <div class="quantity">
                  <button type="button" onclick="decrement('{{ produto.nome_produto }}')">-</button>
                  <span id="quantity_{{ produto.nome_produto }}">0</span>
                  <input type="hidden" id="value_{{ produto.nome_produto }}" value="{{ produto.preco }}">
                  <button type="button" onclick="increment('{{ produto.nome_produto }}')">+</button>
                </div>
              </td>
              <td id="totalPrice_{{ produto.nome_produto }}">R$ 0.00</td>
            </tr>
          </tbody>
        </table>
        
        <label for="observacao">Observação:</label>
        <textarea id="observacao" name="observacao" rows="5" class="form-control" required placeholder="Faça uma Observação do seu pedido"></textarea>
        {% endif %}
        
        <button type="submit" id="addToCartButton" class="card-btn">Adicionar ao Carrinho{% if not current_user.is_authenticated %} (Login Requerido){% endif %} Por: R$ 0.00</button>
      </form>
    </div>
  </div>
</div>

<script src="../static/JS/produtos.js"></script>
{% endblock %}
